/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #d9d9d9;
}

/* MENU */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #111;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
}

nav {
  margin-left: 30px;
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* SIMULAÇÃO DE DUAS PÁGINAS (A4) */
.section {
  background: white;
  width: 90%;
  max-width: 900px;

  margin: 120px auto; 
  padding: 40px;

  min-height: 100vh;  
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.25);
}

/* “Quebra de página” REAL */
.page-break {
  height: 250px;
  background: #cfcfcf;
  border-top: 5px solid #b1b1b1;
  border-bottom: 5px solid #b1b1b1;
  margin: 60px 0;
}

/* CARDS DAS APIS */
.api-card {
  background: #f6f6f6;
  padding: 20px;
  border-left: 5px solid #333;
  margin-top: 20px;
  border-radius: 8px;
}
