* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.menu {
    background: #222;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.menu a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
}

main {
    padding-top: 90px;
}

.secao {
    background: white;
    padding: 25px;
    margin: 25px;
    border-radius: 6px;
}

footer {
    background: #222;
    padding: 25px;
    text-align: center;
    color: white;
}
